<h1>About</h1>

<p>
	Hi, I'm <a href="https://www.facebook.com/Lili.riot">Lili</a> and I am a lot of things. Today I am a RoR dev
</p>

<p>
This is my first startup, <%= link_to "Foodiness" , "https://www.foodiness.it" %>
	
</p>

